---
layout: layout
title: JetBrains Tips
---

<div class="row">
  <div class="col-md-12 text-center">
    <h2>{{ title }}</h1>
    <h3>{{ description }}</h3>
    <hr/>
    {{ content | safe }}
  </div>
  <div class="col-md-12 text-center">
    <hr />
    {% assign taggers = tags | exclude: "tips" %}          
    {%- for tag in taggers -%}
    {% assign category = collections.categories | withCategory: tag %}
    <a href="{{ category.url }}" class="badge badge-primary">
      {{ category.data.name }}
    </a>
    {%- endfor -%}
  </div>
</div>

